.container{
    max-width: 940px;
    margin: 0 auto;
}


.navBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-toggler {
    display: none;/*下display:none，元素會完全消失，包括原占用位置*/
    border: none;
    background: transparent;
    cursor: pointer;
}



/*圖片取代文字技巧*/
.navBar h1 a{
    background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/a3ed9441c2522e2b8edb35a9847121eb3e6af16e/student-week1/logo-all-dark.svg");
    width: 200px;
    height: 40px;
    display: block;
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap;
    background-size: contain;/*使圖片符合容器大小但不變形，剩下空白區域以background-color呈現*/
    background-repeat: no-repeat;
}

.link{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-list{
    max-width: 500px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 20px;
}


.link a{
    font-size: 16px;
    padding: 0px 30px;
    line-height: 4;
    color: $color-dark;
    font-weight: bold;
    display: block; /*讓a標籤滿版*/
}






.nav-item a:hover{
    display: block;
    background-color:#3F5D45;
    color: #EAF0ED;
}

.shopping:hover{
    background-color: #EAF0ED;
}

.top-pic{
    max-width: 100%;
    margin-bottom: 50px;
}

.subscribe{
    background-color: #3F5D45;
    padding: 3%;
    .logo, .enter{
        display: flex;
        align-items: center;
    }
    .logo{
        label{
            color: $color-light;
            font-size: 24px;
        }
        img{
            margin-right: 20px;
            width: 40px;
            height: 40px;
        }
    }
    .inner{
        display: flex;
        justify-content: space-evenly; 
    }
}


.subscribe .enter{
    .search{
        position: relative;
        display: flex;
        justify-content: flex-start;
        max-width: 380px;
        /*email圖示*/
        span{
            position: absolute;
            display: inline-block;
            width: 40px;
            height: 40px;
            left: 10px;
            top: 10px;
            background: url("https://github.com/hexschool/webLayoutTraining1st/blob/master/student-week1/mail-24px.png?raw=true") no-repeat;
            background-size: 80% 80%;
            background-position: center;
        }
        input{
            font-size: 1.5rem;
            width: 75%;
            height: 56px;
            text-indent: 2em;
        }
        .submit{
            font-size: 2rem;
            color: $color-dark;
            text-align: center;
            background-color: #FFE180;
            width: 25%;
            line-height: 50px;
            left: 320px;
        }
        .submit:hover{
            background-color: orange;
        }
    }
    
    
    
} 



.footer{
    background-color: #EAF0ED;
    padding: 3%;
}

.inner{
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.up{
    width: 100%;
    display: flex;
    justify-content: space-between;
    .information{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        img{
            margin-top: 15%;
        }
        li{
            color:#3F5D45;
            font-size: 16px;
            line-height: 1.5;
        }
    }
    .slogan{
        height: 300px;
        writing-mode: vertical-rl;
        font-weight: bold;
        text-indent: -4em;/*首行縮排*/
        padding-top: 100px; 
        color: $color-dark;
        font-size: 1.25rem;
    }
}

.down{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    img{
        width: 32px;
        height: 32px;
    }
    .social a{
        display: inline-block;
    }
    p{
        color: #3F5D45;
    }
}



@media (max-width: 768px){

    .container{
        max-width: 768px;
        margin: 0 auto;
    }
    
    .inner{
        max-width: 650px;
    }

    .up .slogan{
        font-size: 20px;
    }
}

@media (max-width: 375px){
    .container{
        max-width: 375px;
        margin: 0 auto;
    }

    .navBar{
        position: relative;
        justify-content: space-around;
        .navbar-toggler{
            display: block;
        }
        .navbar-toggler:focus {
            outline: 0;
        }
    }


    .nav-list{
        display: flex;
        position: absolute;
        left: 0;
        top: 100%;/*以父元素的下邊界起始往下排列*/
        width: 100%;
        background: white;
        transition: all 0.5s;
        overflow: hidden;
        flex-direction: column; 
        align-items: center;
        z-index: 10;
        height: 0px;
    }

    /*active要放在nav-item後面，否則height又會變回0px*/
    .active{
        height: 200px;
    }


    .shopping{
        padding-right: 0px;
    }


    .top-pic{
        margin-bottom: 0px;
    }

    .subscribe{
        flex-wrap: wrap;
        margin: 0 auto;
        padding: 10%;
        .search{
            margin: 10px;
            input{
                width: 100%;
            }
        }
    }

    .up{
        width: 80%;
        .information{
            width: 100%;
            img{
                width: 60%;
                margin-bottom: 10%;
            }
        }
        .slogan{
            display: none;
        }
    }
    
    .down{
        display: flex;
        flex-wrap: wrap;
        width: 80%;
    }

}


