body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Microsoft JhengHei", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}


//  color
$color-primary: #8DA291;
$color-dark: #3F5D45;
$color-light: #EAF0ED;
$color-secondary: #FFE180;

//font-size


